:root{
    font-family: "Rubik", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    display: flex;
}

.right-side{
    flex: 4;
    min-height: 100%;
    background-color: rgb(130, 130, 130)
}

.sidebar{
    background-color:rgb(87, 87, 255);
    flex: 1;
    min-height: 100%;
}

.header{
    background-color: rgb(226, 243, 180);
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-content{
    padding: 1.7rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 3fr 200px;
    align-items: start;
}
.left-items{
    display: grid;
    gap: 1.7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
}
.right-items{
    display: grid;
    grid-template-columns: 1fr;

    gap: 1rem;
}
.left-items>div{
    height: 250px;
    border: 1px solid black;
    border-radius: 1rem;
}
.right-items>div{
    height: 317px;
    border: 1px solid black;
}
.your-projects{
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 1.7rem;
    margin-top: 1.7rem;
}